## Visual Studio / .NET Build Outputs
[Bb]in/
[Oo]bj/
[Qq]A/
[R3]esults/
build/

## Visual Studio Cache & Settings
.vs/
*.user
*.userosscache
*.sln.docstates

## VS Code Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## User-specific files
*.rsuser
*.suo
*.user
*.userpgc
*.userpgo
*.otdf

## Package directories
*.nupkg
**/packages/*
!**/packages/build/

## Logs & Temp files
*.log
*.tmp
